<div class="background h-100">
    <div class="container-fluid center p-4">
        <h1 class="p-2">Remembering</h1>
        <h2 class="p-2">Nossos momentos sempre que sentir saudades</h2>
        <button class="btn btn-outline m-3 mb-4">Uma data aleatória</button>
        <input class="form-control datepicker" id="date" type="date">
    </div>
</div>