html {
    height: 100vh;
}

body {
    min-height: 100vh;
}

.background {
    background-image: url(../images/heart2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    color: white;
    min-height: 100vh;
}

.btn-outline:hover {
    background-color: #d64343;
    border-color: #d64343;
}

.center {
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-size: 2.2rem;
}

.datepicker {
    background-color: transparent;
    color: white;
    width: 250px;
    margin: auto;
}

::placeholder {
    color: white !important;
}

.container {
    border-radius: 20px;
    border: 1px solid white;
    width: 630px;
}

.container img {
    width: 600px;
}

.dinamic-content {
    display: flex;
    justify-content: center;
}

.inner-text {
    text-align: left;
    width: 300px;
}

.inner-text p {
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .btn-outline:focus {
        background-color: transparent;
        border-color: white;
    }
    .container {
        width: fit-content;
    }
    .container img {
        width: 300px;
    }
    .dinamic-content {
        flex-wrap: wrap;
    }
    .inner-text {
        margin: 0 auto !important;
        width: 400px;
    }
}

.invisible {
    display: none;
}